<h2>Business Module Prototype</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Input</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Text</td>
      <td> 
        <input type="text" #text id=""> 
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Image</td>
      <td>
        <input type="file" accept='image/*' multiple='multiple' name="" id="images"> 
      </td>
      <td><button (click)="onClicked(text)">Add More</button></td>
    </tr>
  </tbody>
</table>
